<h1><%= @user.name %></h1>

<section>
  <h2> <%= @user.name %>'s Events </h2>

  <%= render partial: 'shared/event',
             locals: {events_group: @user.created_events} %>
</section>

<section>
  <h2><%= @user.name %> will attend:</h2>

  <%= render partial: 'shared/event',
             locals: {events_group: @user.upcoming_events} %>
</section>

<section>
  <h2><%= @user.name %> will attend:</h2>

  <%= render partial: 'shared/event',
             locals: {events_group: @user.previous_events} %>
</section>