<h1><%= @event.title %></h1>
<span> <%= @event.location %>, <%= @event.date %> </span>
<span> Created by: <%= link_to @event.creator.name, @event.creator %> </span>
<p> <%= @event.description %> </p>

<section>
  <h2>People that will attend:</h2>
  <%= render partial: 'shared/people',
             locals: { people_group: @event.attendees }%>
</section>

<% if current_user %>
  <% if @event.attendees.include? current_user %>
    <p>You are already attendings this event</p>
  <% else %>
    <%= link_to "I want to attend this",
        attendings_path(event_id: @event.id,
                        attendee_id: current_user.id),
        method: :post %>
  <% end %>
<% else %>
  <p>You need to be logged in to attend this event. Please <%= link_to "Login", new_user_session_path %>
  or <%= link_to "Signup", new_user_registration_path %></p>
<% end %>