<!DOCTYPE html>
<html>
  <head>
    <title>EventsManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <li>You are signed in as <%= link_to @current_user.name, @current_user %>. <%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
        <li><%= link_to "Create New Event", new_event_path%>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
